*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
.nyc*
coverage
npm-debug.log
secret.json
deploy
node_modules
db-migrations.sql
secret.json
package-lock.json
npm-shrinkwrap.json
.env